In [1]:
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames

# Import supplementary visualizations code visuals.py
import visuals as vs

# Pretty display for notebooks
%matplotlib inline

# Load the wholesale customers dataset
try:
    data = pd.read_csv("customers.csv")
    data.drop(['Region', 'Channel'], axis = 1, inplace = True)
    print "Wholesale customers dataset has {} samples with {} features each.".format(*data.shape)
except:
    print "Dataset could not be loaded. Is the dataset missing?"

Wholesale customers dataset has 440 samples with 6 features each.

In [10]:
display(data.describe())

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [3]:
data['Fresh'].idxmax()

181

In [4]:
data['Milk'].idxmax()

86

In [5]:
data['Grocery'].idxmax()

85

In [6]:
data['Frozen'].idxmax()

325

In [7]:
data['Detergents_Paper'].idxmax()

85

In [8]:
data['Delicatessen'].idxmax()

183

In [9]:
# TODO: Select three indices of your choice you wish to sample from the dataset
indices = [85,86,181,183,325]

# Create a DataFrame of the chosen samples
samples = pd.DataFrame(data.loc[indices], columns = data.keys()).reset_index(drop = True)
print "Chosen samples of wholesale customers dataset:"
display(samples)

Chosen samples of wholesale customers dataset:

    Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
0   16117  46197    92780    1026             40827          2944
1   22925  73498    32114     987             20070           903
2  112151  29627    18148   16745              4948          8550
3   36847  43950    20170   36534               239         47943
4   32717  16784    13626   60869              1272          5609